/*
	CodingAvatar Resto Theme
	Author:Roktim Sazib
	Version:0.0.1
  Url:http://www.codingavatar.com
*/
/*BASE - Base style,variable,mixin,etc*/
h1, h2, h3, h4, h5 {
  margin-top: 0; }

body {
  font-family: "Segoe UI", "segoe WP", "segoe Reguler", "sans-serif";
  font-size: 15px;
  line-height: 1.7em;
  color: #494949;
  background-color: #fd9; }

a {
  color: #efefef; }

ul, li {
  list-style: none; }

input, textarea, button {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px; }

/*MODULES - Individual site components*/
/*LAYOUT - Page Layout style*/
.jumbotron {
  background-color: #FF00FF; }

header .navbar-default {
  background-color: transparent;
  border: none; }

header .navbar-default .navbar-nav > li > a {
  color: #494949;
  font-size: 20px; }

header .navbar-default .navbar-nav > li > a:hover {
  background: none; }

header .navbar-default .navbar-nav > .active > a, header .navbar-default .navbar-nav > .active > a:focus, header .navbar-default .navbar-nav > .active > a:hover {
  background-color: #e14226;
  color: #FFF; }
