/*
	CodingAvatar Resto Theme
	Author:Roktim Sazib
	Version:0.0.1
  Url:http://www.codingavatar.com
*/
/*BASE - Base style,variable,mixin,etc*/
h1, h2, h3, h4, h5 {
  margin-top: 0; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.7em;
  color: #494949;
  background-color: #FFF; }

a {
  color: #efefef; }

ul, li {
  list-style: none; }

input, textarea, button {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px; }

/*MODULES - Individual site components*/
form.search input[type=text] {
  width: 0px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: white;
  background-repeat: no-repeat;
  padding: 14px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  position: relative;
  border: none; }
form.search input[type=text]:focus {
  width: 100%;
  padding-left: 20px;
  outline: none; }
form.search i.fa.fa-search.icon_search {
  position: absolute;
  position: absolute;
  top: 35%;
  cursor: pointer; }

/*slider button*/
.caption a {
  color: #FFF;
  background-color: #e14226;
  padding: 10px 15px;
  text-decoration: none; }

.caption a:hover {
  opacity: 0.7;
  transition: 0.3s; }

/*about section button*/
.about_text a {
  border: 1px solid #e14226;
  padding: 10px 14px;
  display: inline;
  color: #494949;
  border-radius: 50px;
  padding-right: 0;
  text-decoration: none; }
  .about_text a span {
    background: #e14226;
    color: #FFF;
    padding: 10px 25px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; }

.about_text a:hover {
  background: #e14226;
  color: #FFF;
  transition: 0.4s; }

/*LAYOUT - Page Layout style*/
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #e14226;
  transition: 0.5s; }

header .navbar-default .navbar-nav > li > a:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0px;
  /*Change this to increase/decrease distance*/
  border-bottom: 2px solid #e14226;
  transition: 0.5s; }

header {
  background-color: #fff; }
  header .navbar-default {
    background-color: transparent;
    border: none; }
  header .navbar-default .navbar-nav > li > a {
    color: #494949;
    font-size: 17px;
    text-transform: uppercase; }
  header .navbar-default .navbar-nav > li > a:hover {
    background: none; }
  header .navbar-default .navbar-nav > .active > a, header .navbar-default .navbar-nav > .active > a:focus, header .navbar-default .navbar-nav > .active > a:hover {
    background-color: #e14226;
    color: #FFF; }
  header a.navbar-brand > img {
    height: auto;
    max-width: 100px;
    width: 100%; }
  header ul.nav.navbar-nav.navbar-right {
    margin-top: 2%; }
  header .navbar {
    min-height: 70px; }
  header .navbar-brand {
    padding: 0px; }

section.slider_area {
  background-image: url(../images/slider/slider2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

section.slider_area .caption {
  color: #FFF;
  margin: 30% 0px;
  text-align: left; }
section.slider_area .caption h2 {
  font-family: "Pacifico", cursive;
  font-size: 25px; }
section.slider_area .caption h1 {
  font-size: 50px;
  margin: 0px; }
section.slider_area .caption p {
  font-size: 16px;
  padding-bottom: 20px; }

section.we_are_testy {
  background-color: #FFF;
  padding: 40px 0px;
  position: relative; }
  section.we_are_testy img {
    max-width: 100%; }
  section.we_are_testy .section_left_img {
    position: absolute;
    top: 95px;
    left: -45px;
    width: 14%; }
  section.we_are_testy .section_left_img > img {
    width: 250px;
    height: auto;
    transform: rotate(-20deg); }
  section.we_are_testy .border-image {
    padding: 5px;
    border: 2px solid #f7f7f7;
    border-radius: 5px; }
  section.we_are_testy .about_text {
    width: 70%;
    margin: 10% 10% 0px; }
  section.we_are_testy .about_text > h2 {
    font-size: 18px;
    font-family: "Pacifico", cursive;
    color: #e14226; }
  section.we_are_testy .about_text > h1 {
    text-transform: uppercase;
    color: #494949; }
  section.we_are_testy .about_text > p {
    padding-bottom: 30px; }

@media only screen and (max-width: 768px) {
  .section_left_img {
    display: none; } }
section.popular_dishes {
  background-color: #efefef;
  padding: 60px 0px 100px;
  position: relative; }
  section.popular_dishes .heading.text-center {
    width: 80%;
    margin: 0 auto; }
  section.popular_dishes h1 {
    font-family: "Pacifico", cursive;
    text-transform: capitalize;
    color: #494949; }
  section.popular_dishes p {
    color: #494949;
    margin-top: 20px;
    margin-bottom: 20px; }
  section.popular_dishes span {
    width: 100px;
    border-bottom: 4px solid #e14226;
    display: block;
    margin: 0 auto; }
  section.popular_dishes .dishes-item {
    width: 80%;
    margin: 0 auto; }
  section.popular_dishes a {
    text-decoration: none;
    color: #494949; }
  section.popular_dishes .dishes-item img {
    width: 100%;
    height: 220px; }
  section.popular_dishes .price {
    text-align: center;
    padding: 15px 0px;
    text-transform: capitalize;
    background-color: #FFF;
    margin-bottom: 15px; }
  section.popular_dishes .price p {
    margin: 0;
    padding: 0;
    color: #e14226; }
  section.popular_dishes .right-image {
    position: absolute;
    width: 20%;
    position: absolute;
    top: -101px;
    right: 0; }
  section.popular_dishes .right-image > img {
    width: 100%;
    height: auto !important; }
  section.popular_dishes .left-image {
    position: absolute;
    bottom: 0;
    left: 0; }

@media only screen and (max-width: 768px) {
  .right-image {
    width: 40% !important; } }
section.food_menu {
  padding: 60px 0px 0px; }
  section.food_menu span {
    width: 100px;
    border-bottom: 4px solid #e14226;
    display: block;
    margin: 0 auto; }
  section.food_menu h1 {
    font-family: "Pacifico", cursive;
    text-transform: capitalize;
    color: #494949; }
  section.food_menu p {
    color: #494949;
    margin-top: 20px; }
  section.food_menu .heading.text-center {
    width: 80%;
    margin: 0 auto; }
  section.food_menu .food-item {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    margin-top: 60px; }
  section.food_menu .item {
    flex-basis: 25%;
    text-align: center;
    overflow: hidden;
    position: relative;
    transform: scale(1); }
  section.food_menu .item a img {
    width: 100%; }
  section.food_menu .item a:hover {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.4);
    transition: 0.3s ease-in-out; }
  section.food_menu .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(255, 43, 88, 0.8) 0%, rgba(255, 216, 0, 0.8) 100%) !important;
    width: 100%;
    height: 100%;
    display: none; }

section.reservation {
  padding: 60px 0px 100px;
  background-color: #efefef; }
  section.reservation .heading > span {
    width: 100px;
    border-bottom: 4px solid #e14226;
    display: block;
    margin: 0 auto; }
  section.reservation h1 {
    font-family: "Pacifico", cursive;
    text-transform: capitalize;
    color: #494949;
    margin-top: 25px; }
  section.reservation p {
    color: #494949;
    margin-top: 20px; }
  section.reservation .heading.text-center {
    width: 80%;
    margin: 0 auto; }
  section.reservation .reservation-form {
    background-color: #FFF;
    margin-top: 60px;
    box-shadow: 0px 5px 14px 2px rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  section.reservation .reservation-form img {
    max-width: 100%; }
  section.reservation .heading {
    text-align: center;
    margin-bottom: 15%; }
  section.reservation form.form-horizontal {
    width: 90%;
    margin: 0 auto; }
  section.reservation .btn-default {
    width: 100%;
    border-radius: 0px; }
  section.reservation .form-control {
    border-radius: 0px; }
  section.reservation .btn-default {
    background-color: #e14226;
    color: #FFF;
    border: none; }
  section.reservation .btn {
    padding: 10px 12px; }

section.gallery {
  padding: 60px 0px 100px;
  background-color: #FFF; }
  section.gallery .heading > span {
    width: 100px;
    border-bottom: 4px solid #e14226;
    display: block;
    margin: 0 auto; }
  section.gallery h1 {
    font-family: "Pacifico", cursive;
    text-transform: capitalize;
    color: #494949; }
  section.gallery p {
    color: #494949;
    margin-top: 20px; }
  section.gallery .heading.text-center {
    width: 80%;
    margin: 0 auto; }
  section.gallery .galleryFilter a {
    margin-right: 10px;
    color: #494949;
    text-decoration: none; }
  section.gallery .galleryFilter a.current {
    font-weight: bold;
    color: #e14226; }
  section.gallery img {
    padding: 5px;
    max-width: 100%; }
  section.gallery .isotope-item {
    z-index: 2; }
  section.gallery .isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1; }
  section.gallery .isotope,
  section.gallery .isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s; }
  section.gallery .isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width; }
  section.gallery .isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity; }
  section.gallery .galleryContainer {
    width: 100%;
    overflow: hidden; }
  section.gallery .galleryContainer > div {
    width: 33.33%;
    float: left; }
  section.gallery .galleryFilter {
    text-align: center;
    padding: 40px 0px; }

section.events {
  padding: 70px 0px 125px;
  background-image: url("../images/event_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  section.events .overlaybg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(14, 11, 11, 0.63); }
  section.events .heading > span {
    width: 100px;
    border-bottom: 4px solid #e14226;
    display: block;
    margin: 0 auto; }
  section.events h1 {
    font-family: "Pacifico", cursive;
    text-transform: capitalize;
    color: #FFF;
    margin-top: 25px; }
  section.events p {
    color: #FFF;
    margin-top: 20px; }
  section.events .heading.text-center {
    width: 80%;
    margin: 0 auto; }
  section.events .event_image {
    border: 1px solid #fff;
    padding: 1px;
    border-radius: 5px;
    background-color: #FFF; }
    section.events .event_image img {
      max-width: 100%; }
  section.events .event_into h1 {
    font-family: cursive;
    color: #FFF;
    font-size: 35px;
    padding: 0;
    margin: 0; }
  section.events .event_content {
    margin-top: 60px; }
  section.events .event_time {
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
    margin-bottom: 45px; }
  section.events .event_time > div {
    padding: 0px 15px;
    padding-top: 5px;
    font-size: 25px;
    color: #FFF;
    border-top: 1px solid;
    border-bottom: 1px solid; }
  section.events .active_month {
    background-color: #FFF;
    color: #e14226 !important;
    border: transparent !important; }
  section.events .day span {
    display: block;
    font-size: 13px; }
  section.events .month span {
    display: block;
    font-size: 13px; }
  section.events .year span {
    display: block;
    font-size: 13px; }
  section.events .event_conf_btn a {
    text-decoration: none;
    background: #e14226;
    padding: 13px 100px;
    border-radius: 5px;
    box-sizing: border-box; }
  section.events .event_conf_btn a:hover {
    color: #FFF;
    background-color: #666; }

/*Small device */
@media only screen and (max-width: 768px) {
  .event_image {
    margin-top: 50px; } }

/*# sourceMappingURL=main.css.map */
