
$base-font-size:15px;
$base-font-family:'Roboto', sans-serif;
$base-font-color:#494949;
$slider_title_font:'Pacifico',cursive;

$main-bg:#FFF;
$primary-color:#efefef;
$secondary-color:#e14226;
$hover-gradient:linear-gradient(to right, rgba(255,43,88,0.8) 0%,rgba(255,216,0,0.8) 100%) !important;

$btn-text:#FFF;