
$base-font-size:15px;
$base-font-family:"Segoe UI","segoe WP","segoe Reguler","sans-serif";
$base-font-color:#494949;

$main-bg:#000;
$primary-color:#efefef;
$secondary-color:#e14226;


$btn-text:#FFF;