
$base-font-size:15px;
$base-font-family:'Roboto', sans-serif;
$base-font-color:#494949;
$slider_title_font:'Pacifico',cursive;

$main-bg:#FFF;
$primary-color:#efefef;
$secondary-color:#e14226;


$btn-text:#FFF;