header{
  .navbar-default{
    background-color: transparent;
    border: none;
  }
  .navbar-default .navbar-nav>li>a{
    color: $base-font-color;
    font-size: $base-font-size+5;
  }
  .navbar-default .navbar-nav>li>a:hover{
    background: none;
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: $secondary-color;
    color: $btn-text;
  }
}
