section.reservation{
  padding: 60px 0px 100px;
  background-color: $primary-color;
  
  h1{
    font-family: $slider_title_font;
    text-transform: capitalize;
    color: $base-font-color;
  }
  p{
    color: $base-font-color;
    margin-top: 20px;
  }
  .heading.text-center {
    width: 80%;
    margin: 0 auto;
  }
  .reservation-form{
    background-color: $main-bg;
    margin-top: 60px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
   -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
  }
  
  
  
}